<!-- 2주차 숙제 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <title>나홀로 쇼핑몰</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        font-family: "Jua", sans-serif;
      }
      .item-img {
        width: 500px;
        height: 300px;

        background-image: url("https://t1.daumcdn.net/liveboard/nts/5bcccfbd33da4865817b9c606b6b852e.JPG");
        background-position: center;
        background-size: cover;
      }

      .price {
        font-size: 20px;
      }

      .item-desc {
        width: 500px;
        margin-top: 20px;
      }

      .item-order {
        width: 500px;
      }

      .btn-order {
        margin: auto;
        width: 100px;

        display: block;
      }
      .wrap {
        width: 500px;
        margin: auto;
      }

      #rate {
        margin-bottom: 20px;
      }

      #order-box {
        margin-top: 100px;
      }
    </style>

    <script>
      $(document).ready(function () {
        q1();
        showOrders();
      });

      function q1() {
        $.ajax({
          type: "GET",
          url: "http://spartacodingclub.shop/sparta_api/rate",
          data: {},
          success: function (response) {
            let { rate } = response;
            let rateTxt = "달러-원 환율:" + rate;
            $("#rate").append(rateTxt);
            $("#rate").css("color", "blue");
          },
        });
      }

      function order() {
        const name = $("#name").val();
        const quantity = $("#quantity").val();
        const address = $("#address").val();
        const tel = $("#tel").val();

        $.ajax({
          type: "POST",
          url: "/order",
          data: { name: name, quantity: quantity, address: address, tel: tel },
          success: function (response) {
            alert("주문이 완료 되었습니다.");
            window.location.reload();
          },
        });
      }

      function showOrders() {
        $.ajax({
          type: "GET",
          url: "/order",
          data: {},
          success: function (response) {
            const orders = response["all_orders"];
            for (let i = 0; i < orders.length; i++) {
              const name = orders[i]["name"];
              const quantity = orders[i]["quantity"];
              const address = orders[i]["address"];
              const tel = orders[i]["tel"];

              const temp_html = `<tr>
                                  <td>${name}</td>
                                  <td>${quantity}</td>
                                  <td>${address}</td>
                                  <td>${tel}</td>
                                </tr>`;
              $("#order-columns").append(temp_html);
            }
          },
        });
      }
    </script>
  </head>

  <body>
    <div class="wrap">
      <div class="item-img"></div>
      <div class="item-desc">
        <h1>양초를 팝니다 <span class="price">가격:3,000원/개</span></h1>
        <p>
          이 양초는 사실 특별한 힘을 지니고 있어요! 양초를 켜고 소원을 빌면
          짜자잔 뭐든지 이뤄지게 된답니다. 하나 사가세요! 대나무 향이 아주
          좋아요.
        </p>
      </div>
      <div id="rate"></div>
      <div class="item-order">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">주문자이름</span>
          </div>
          <input
            type="text"
            id="name"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >수량</label
            >
          </div>
          <select class="custom-select" id="quantity">
            <option selected>-- 수량을 선택하세요 --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">주소</span>
          </div>
          <input
            type="text"
            id="address"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">전화번호</span>
          </div>
          <input
            type="text"
            id="tel"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <button
          type="button"
          onclick="order()"
          class="btn btn-primary btn-order"
        >
          주문하기
        </button>
      </div>
      <div id="order-box">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">이름</th>
              <th scope="col">수량</th>
              <th scope="col">주소</th>
              <th scope="col">전화번호</th>
            </tr>
          </thead>
          <tbody id="order-columns"></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
